:root {
  /** colors */
  --color-name: custom;
  --color-bg-shade: #181825;
  --color-bg-base: #1E1E2E;
  --color-bg-surface: #242437;
  --color-bg-highlight: #2A2A40;
  --color-fg-shade: #7366CE;
  --color-fg-base: #A9A1E1;
  --color-fg-surface: #DFDCF4;
  --color-fg-highlight: #FFFFFF;
  --color-primary-bg: #0C497A;
  --color-primary-base: #89b4fa;
  --color-primary-fg: #a9a1e1;
  --color-secondary-bg: #6D171E;
  --color-secondary-base: #D43542;
  --color-secondary-fg: #EBA2A8;
  --color-palette-red: #E06C75;
  --color-palette-green: #98C379;
  --color-palette-yellow: #E5C07B;
  --color-palette-blue: #61AFEF;
  --color-palette-purple: #C678DD;
  --color-palette-cyan: #56B6C2;
  --color-palette-orange: #FFBB7C;
  
  /** general */
  --font-family: Mononoki Nerd Font;
  --display-image: block;

  /** surface */
  --surface-maxWidth: 1240px;
  --surface-shadow: 0px 0px 0px #0C497A;
  --surface-borderRadius: 29px;

  /** spacing */
  --space-smallest: 0.125rem;
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --space-largest: 3rem;

  /** others */
  --picture-size: 300px;
  --group-count: 3;
}
