:root {
  /** colors */
  --color-name: custom;
  --color-bg-shade: #0F1624;
  --color-bg-base: #131C2D;
  --color-bg-surface: #172236;
  --color-bg-highlight: #1B273F;
  --color-fg-shade: #6D8FC8;
  --color-fg-base: #A5BADD;
  --color-fg-surface: #DDE5F2;
  --color-fg-highlight: #FFFFFF;
  --color-primary-bg: #1C212A;
  --color-primary-base: #374353;
  --color-primary-fg: #53647D;
  --color-secondary-bg: #283635;
  --color-secondary-base: #506C69;
  --color-secondary-fg: #7C9E9A;
  --color-palette-red: #E06C75;
  --color-palette-green: #98C379;
  --color-palette-yellow: #E5C07B;
  --color-palette-blue: #61AFEF;
  --color-palette-purple: #C678DD;
  --color-palette-cyan: #56B6C2;
  --color-palette-orange: #FFBB7C;
  
  /** general */
  --font-family: Mononoki Nerd Font;
  --display-image: block;

  /** surface */
  --surface-maxWidth: 1100px;
  --surface-shadow: 12px 12px 3px #1C212A;
  --surface-borderRadius: 11px;

  /** spacing */
  --space-smallest: 0.125rem;
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --space-largest: 3rem;

  /** others */
  --picture-size: 300px;
  --group-count: 4;
}
