@font-face {
  font-family:'Iosevka';
  src: url('Iosevka.ttf');
}

body {
  font-family: 'Mononoki Nerd Font',;
  font-size: 20px;
  background-color: #282828;
  background-image: url("img/");
  background-repeat: repeat;
  width: 670px;
  height: 320px;
  position: absolute;
  top: 0px;
  bottom: 100px;
  left: 0px;
  right: 0px;
  margin: auto;
}

h2 {
  font-weight: 200px;
  font-size: 35px;
  color: #d79921;
  position: relative;
  text-align: center;
  horizontal-align: middle;
}

.flair {
  color: #458588;
}

.main {
  display: inline-block;
  border-style: solid;
  border-width: 3px;
  border-color: #928374;
  position: relative;
  top: -0px;
  width: 980px;
  height: 330px;
  left: -156px;
  border-radius: 29px;
  right: 0px;
  margin: auto;
  background-color: #282828;
  text-align: center;
  box-shadow: 32px #988ba2;
}



.next {
  cursor: pointer;
  position: absolute;
  top: 575px;
  width: auto;
  right: 10px;
  padding: 5px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-family: Mononoki Nerd Font;
  font-size: 40px;
  transition: 0.6s ease;
  user-select: none;
  border-radius: 3px 0 0 3px;
  border-radius: 50%;
  display: inline-block;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.codes {
  color: #FFFFFF;
  font-family: Iosevka, monospace;
  font-size: 18px;
  position: absolute;
  top: 565px;
  width: auto;
  height: auto;
  left: 12px;
}

li {
  margin: 10px 0;
}

nav {
  display: inline-block;
  vertical-align: middle;
  horizontal-align: middle;
  color: #83a598;
  font-size: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

ul {
  display: table-cell;
  horizontal-align: middle;
  text-align: center;
  height: 100%;
  border-color: #282828;
  border-right-width: 1px;
  border-right-style: solid;
  padding: 10px 25px;
  transition: all 0.8s;
  cursor: default;
  font-family: Mononoki Nerd Font;
  font-size: 19px;
  list-style-type: none;
}

ul:last-of-type {
  border-right-width: 0;
}

ul:hover {
  color: #83a598;
}

ul > li:first-of-type{
  padding-top: 5px;
}

ul > li > a {
  text-decoration:none;
  color: #458588;
  transition: all 0.8s;
}

ul[class=green] > li > a:hover::before,
ul[class=green] > li > a:focus-visible::before {
color: #8ec07c;
content: ">";
left: -0.75rem;
}

ul[class=blue] > li > a:hover::before,
ul[class=blue] > li > a:focus-visible::before {
  color: #458588;
  content: ">";
  left: -0.75rem;
}

ul[class=red] > li > a:hover::before,
ul[class=red] > li > a:focus-visible::before {
  color: #d3869b;
  content: ">";
  left: -0.75rem;
}

ul[class=yellow] > li > a:hover::before,
ul[class=yellow] > li > a:focus-visible::before {
  color: #928374;
  content: ">";
  left: -0.75rem;
}


ul[class=cyan] > li > a:hover::before, 
ul[class=cyan] > li > a:focus-visible::before {
  color: #988ba2;
  content: ">";
  left: -0.75rem;
}

ul[class=magenta] > li > a:hover::before,
ul[class=magenta] > li > a:focus-visible::before {
  color: #83a598;
  content: ">";
  left: -0.75rem;
}

ul[class=pink] > li > a:hover::before,
ul[class=pink] > li > a:focus-visible::before {
  color: #98971a;
  content: ">";
  left: -0.75rem;
}


ul[class=magenta] {
    color: #83a598;
}

ul[class=pink] {
    color: #98971a;
}

ul[class=blue] {
    color: #458588;
}

ul[class=green] {
    color: #8ec07c;
}

ul[class=red] {
    color: #d3869b;
}

ul[class=yellow] {
    color: #928374;
}

ul[class=cyan] {
    color: #988ba2;
}

